#tituloPagina{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px white;
    font-size: 4em;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;  
}

@keyframes example {
    from {text-shadow: 0 0 20px rgb(227, 217, 165); scale: 1.0; }
    to { text-shadow: 0 0 20px rgb(247, 234, 173); scale: 1.04;}
  }


#inputBuscar, #inputComentario, #inputUsuario{
    background-color: rgba(0, 0, 0, 0.507);
    border-style:solid;
    border-color: rgb(69, 2, 69);
    border-radius: 10px;
    height: 25px;
    width: 300px;
    color: aliceblue;
    padding: 0 10px;
    box-shadow: 0 0 20px;

}
#inputComentario, #inputUsuario{
    width: 100%;
    margin-bottom: 10px;
}
#inputComentario{
    height: 100px;
}

#inputBuscar::placeholder{
    color: rgb(244, 234, 244);
    text-shadow: 2px 2px 20px rgb(113, 29, 209);
}

.info-container{
    background-color: rgba(220, 235, 235, 0.219);
    padding: 20px;
    box-shadow: 0px 0px 120px rgba(255, 255, 255, 0.354);
    animation-name: example2;
    animation-duration: 5s;
    animation-iteration-count: 1;
}


@keyframes example2 {
    from {scale: 0.1; box-shadow: 0px 0px 120px rgba(255, 255, 255, 0.829);}
    to {scale: 1.0;}
  }


#btnBuscar, #btnEnviar{
    background-color:  rgba(0, 0, 0, 0.507);
    color: aliceblue;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    box-shadow: 0 0 20px;

}

body{
    background-image: url(images/fondo2.jpg);
    background-size: 100%;
}

#contenedor{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

#contenedorResultados{
    text-align: center;
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;
}

img {
    box-shadow: 0 0 2000px rgba(238, 130, 238, 0.913);
    max-width: 100%; /* Establece un ancho máximo del 100% */
    height: auto; /* Mantiene la proporción de aspecto */
}

.content-description{
    color: rgba(247, 227, 247, 0.726);
    text-shadow: 0 0 50px rgb(66, 21, 21);
    font-size: 1em;
    margin-top: -15px;
}

.content-title{
    color: rgb(217, 192, 198);
    text-shadow: 0 0 50px rgb(66, 21, 21);
    font-size: 1.5em;
}

p{
    color: rgba(247, 227, 247, 0.726);
}

#contenedorComentarios, #contenedorEnviarComentario{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 2px;
    width: 100%;
}

#contenedorEnviarComentario {
    max-width: 800px; /* Establece un ancho máximo */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    padding: 10px 2px;
    width: 90%; /* Establece un ancho del 90% del contenedor padre */
    text-align: center; /* Centra el contenido de texto */
}

.like-icon{
    color: red;
}

#inputRange{
    width: 100%;
}

label{
    color: rgba(247, 227, 247, 0.726);
}